// app global css in SCSS form
@import "flag.css";
// light mode
.body--light {
  .q-header {
    background-color: #1976d2; //2196f3
    color: #fff;
  }
  .q-footer {
    background-color: #fff;
    color: #9e9e9e;
  }
  .toolbar-fixed {
    background-color: #fff;
  }
  .page-color {
    background-color: #f6f6f6;
  }
  // .q-page-container {
  //   background-color: #e7e7e7;
  // }
}
// dark mode
.body--dark {
  .q-header,
  .q-footer,
  .toolbar-fixed {
    background-color: #121212;
    color: #fff;
  }
}
//toolbar
.toolbar-fixed {
  position: fixed;
  z-index: 1;
  width: calc(100vw - 300px);
}
// font-size
.q-toolbar__title {
  font-size: 18px;
}
// Table
.q-table__card {
  color: inherit;
}
.q-table__card--dark {
  color: #fff;
}
//
.headder-row {
  padding: 9px;
  .text-subtitle1 {
    line-height: 2.1rem;
  }
}
//
.q-dialog-plugin {
  .q-card__actions {
    .q-btn {
      font-weight: initial;
    }
  }
}
// Flat Button
.q-btn--square {
  border-radius: initial;
  padding: 0 16px !important;
  &:before {
    box-shadow: initial;
  }
  .q-btn__wrapper::before {
    box-shadow: initial;
  }
  &.q-btn--dense .q-btn__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.q-btn--square.q-btn-group {
  box-shadow: initial;
  .q-btn--dense.q-btn-dropdown--current {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.btn-language-list {
  .q-item__section--avatar {
    min-width: initial;
    padding-right: 9px;
  }
}

// q-swipe-item
.q-swipe-item {
  .q-avatar {
    .q-img {
      height: 100%;
      .image-error {
        background-color: #ccc;
      }
      .absolute-full {
        .q-icon {
          top: -3px;
        }
      }
    }
  }
}

// margin
.q-mt-xxl {
  margin-top: 68px;
}
// card scroll content
.card-scroll__content {
  height: calc(100vh - 101px);
}
.card-scroll__content2 {
  height: calc(100vh - 125px);
}
.card-scroll__content-add {
  height: calc(100vh - 135px);
}
.card-scroll__content-add-tab {
  height: calc(100vh - 140px);
}
body.mobile {
  .card-scroll__content {
    height: calc(100vh - 150px);
  }
  .card-scroll__content2 {
    height: calc(100vh - 160px);
  }
  .card-scroll__content-add {
    height: calc(100vh - 83px);
  }
  .card-scroll__content-add-tab {
    height: calc(100vh - 90px);
  }
}
